<div class="container">
    <div *ngIf="task.id == null" class="header">create task</div>
    <div *ngIf="task.id != null" class="header">edit task</div>

    <div class="form">
        <form>
            <mat-form-field>
                <mat-label>id</mat-label>
                <input type="text" matInput placeholder="id" [(ngModel)]="task.id" name="id" disabled>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>name</mat-label>
                <input type="text" matInput placeholder="name" [(ngModel)]="task.name" name="name" required>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>info</mat-label>
                <input type="text" matInput placeholder="info" [(ngModel)]="task.info" name="info" required>
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>priority</mat-label>
                <mat-select>
                    <mat-option value="0">common</mat-option>
                    <mat-option value="1">important</mat-option>
                    <mat-option value="2">urgent</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()" id="close">close</button>
        <button mat-flat-button color="primary" (click)="onSave()" id="save">save</button>
    </div>
</div>